* {
  box-sizing: border-box;
}
.searchContainer {
  height: 100vh;
  background-color: #103e93;
}

.big-temperature {
  font-size: 128px;
}

.font-grey {
  color: #babcbe;
}

.myShadow {
  box-shadow: 8px 10px 17px -7px #000000;
  background-color: #4b85f04f;
}

.title {
  letter-spacing: 12px;
}
